<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <div th:replace="/fragments/header :: header"/>
</head>

<body>

<div th:replace="/fragments/header :: navbar"/>

<div class="container">

    <h1 class="jumbotron">
        Личный кабинет продавца: <span sec:authentication="name"></span>
    </h1>

    <form class="jumbotron" >
        <a href="/sellerCabAdd" class="col-md-1">
        <button type="button" class="btn btn-primary" text="Добавить товар">Добавить товар</button>
        </a>
    </form>

    <div class="alert alert-info" th:if="${successMessage}" th:utext="${successMessage}"></div>

    <div class="panel-default well" th:each="product : ${products}">
        <div class="panel-heading">
            <h1><a th:text="${product.name}" th:href="@{'/product/' + ${product.id}}">Наименование</a></h1>

            <div th:inline="text">Цена: [[${product.price}]] P</div>
            <div th:inline="text">В наличии: [[${product.quantity}]]</div>
            <!--<h3 th:text="Цена: " th:text="${product.price}">Цена</h3>-->
            <!--<h3 th:text="Количество: " th:text="${product.quantity}">Количество</h3>-->
        </div>
        <div class="row panel-body">
            <a th:href="@{'/sellerCab/removeProduct/{id}'(id=${product.id})}" class="col-md-1">
                <button type="button" class="btn btn-primary" th:text="Удалить">Удалить</button>
            </a>
        </div>
        <div class="row panel-body">
            <a th:href="@{'/sellerCab/editProduct/{id}'(id=${product.id})}" class="col-md-1">
                <button type="button" class="btn btn-primary" th:text="Редактировать">Редактировать</button>
            </a>
        </div>
    </div>


</div>

<div th:replace="/fragments/footer :: footer"/>

</body>
</html>